body{
    background-color: lightblue;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-weight: bold;
    color: rgb(0, 19, 144);
    font-size: 50px;
    background-color: aliceblue;}

#show_sketch{
    float: right;
}
#timer{
    float: right;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 70px;
}
#score{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}


p{
    padding-top:7px;
    font-size:25px;
    color: black;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sketch_to_be_drawn{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}